# Fichiers générés par l'environnement de développement
.env
npm-debug.log
yarn-debug.log*
yarn-error.log*

# Dossiers générés par les systèmes d'exploitation
.DS_Store
Thumbs.db

# Dossiers spécifiques à certains langages ou outils
/Config
/node_modules
/vendor
/.idea
/.vscode

# Fichiers de sauvegarde et de cache
*.bak
*.swp
*.tmp

# Fichiers de configuration d'éditeur
.idea
.vscode

# Fichiers de dépendances ou artefacts de construction
package-lock.json
yarn.lock

# Fichiers de logs
/log

# Fichiers de données sensibles
config.php
database.php
secrets.json
