.case_main_demarrage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.case_section_demarrage {
    background-color: white;
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 18px;
    padding: 1rem 0.5rem;
    border: black 1px solid;
    margin-bottom: 5rem;
}


.img_section_demarrage {
    height: 270px;
}

.para_section_demarrage {
    text-align: center;
}

.submit_section_demarrage {
    padding: 0.5rem;
    border: black 1px solid;
    background: #FF9FD8;
    border-radius: 5px;
}