#nav_nav {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .nav-link {
    font-weight: bold;
    color: #ffffff !important;
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .navbar-brand {
    width: 100%;
  
  }