   /* Conteneur principal */
   .form_recherche_utilisateur,
   .form_recheche_question_reponse,
   .form_recherche_resultat_quizz {
     margin-bottom: 20px;
   }
 
   /* Titre des formulaires */
   .form_title {
     font-weight: bold;
     margin-bottom: 10px;
   }
 
   /* Styles des boutons */
   .submit_recherche_all_user,
   .submit_recherche_question_reponse,
   .submit_recherche_difficulte,
   .submit_question_reponse_time,
   .submit_resultat_all_user {
     display: inline-block;
     padding: 8px 16px;
     font-size: 16px;
     font-weight: bold;
     text-align: center;
     text-decoration: none;
     background-color: #F784CC;
     color: #000000;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     transition: background-color 0.3s ease;
   }
 
   .submit_recherche_all_user:hover,
   .submit_recherche_question_reponse:hover,
   .submit_recherche_difficulte:hover,
   .submit_question_reponse_time:hover,
   .submit_resultat_all_user:hover {
     background-color: #45a049;
   }
 
   /* Styles des sélecteurs */
   .select_submit {
     display: inline-block;
     vertical-align: top;
     margin-left: 10px;
   }
 
   .select_submit select {
     display: block;
     margin-bottom: 10px;
     padding: 8px;
     font-size: 14px;
     border-radius: 4px;
     border: 1px solid #ccc;
   }
 
   .select_submit input[type="submit"] {
     display: block;
     padding: 8px 16px;
     font-size: 14px;
     font-weight: bold;
     text-align: center;
     text-decoration: none;
     background-color: #F784CC;
     color: #000000;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     transition: background-color 0.3s ease;
   }
 
   .select_submit input[type="submit"]:hover {
     background-color: #45a049;
   }
 
   /* Styles pour centrer les <tr> */
   .table_container {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 20px;
     margin-bottom: 50px;
     overflow-x: auto; /* Permet le défilement horizontal si nécessaire */
   }
 
   .table_container table {
     width: 100%;
     table-layout: fixed; /* Fixe la largeur de la table */
     white-space: nowrap; /* Empêche le retour à la ligne des cellules */
   }
 
   .td_form {
     padding-left: 30px;
     padding-right: 30px;
   }
 
   .tr_crud {
     display: flex;
     justify-content: center;
     align-items: flex-start;
     margin-top: 60px;
     border: 3px solid #fff;
     padding: 20px;
     background: #0000009e;
     border-radius: 15px;
   }
 
   @media only screen and (max-width: 950px) {
     /* Styles pour les écrans de petite taille */
     .table_container {
       overflow-x: auto; /* Permet le défilement horizontal si nécessaire */
     }
 
     .table_container table {
       table-layout: auto; /* Retourne à la largeur de table automatique */
       white-space: normal; /* Permet le retour à la ligne des cellules */
     }
 
     .td_form {
       padding-left: 10px;
       padding-right: 10px;
     }
 
     .tr_crud {
       flex-wrap: wrap; /* Permet le retour à la ligne des éléments dans les lignes */
       margin-top: 20px;
     }
   }

