body {
    background: #eeeeee;
    font-family: cursive;
}

.container_question {
    width: 710px;
    height: 570px;
    margin: 20px auto;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid #cbcbcb;
    box-shadow: 10px 15px 5px #cbcbcb;
}

#byte {
    background: #FF9FD8;
    color: #fff;
    margin-top: 20px;
    font-size: 60px;
    text-align: center;
    padding: 2px 0 13px 0;
    border-radius: 50px;
}

#question {
    font-size: 30px;
    color: #5a6772;
}

.button-grp {
    margin-top: 30px;
}

#btn0,
#btn1,
#btn2,
#btn3 {
    background: #FF9FD8;
    width: 250px;
    font-size: 20px;
    border: 1px solid #FF9FD8;
    border-radius: 50px;
    margin: 10px 40px 10px 7.6px;
    padding: 10px 10px;
    color: #fff;
}

#btn0:hover,
#btn1:hover,
#btn2:hover,
#btn3:hover {
    cursor: pointer;
    background: #2D85A4;
}

#btn0:focus,
#btn1:focus,
#btn2:focus,
#btn3:focus {
    outline: 0;
}

#progress {
    color: #2b2b2b;
    font-size: 18px;
}

#result_quiz {
    background: #FF9FD8;
    color: #fff;
    margin-top: 45px;
    font-size: 60px;
    text-align: center;
    padding: 2px 0 13px 0;
    border-radius: 50px;
}

/* /////////////// Leaderboard /////////////// */

.leaderboard-container {
    background-color: #FF9FD8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.leaderboard-title {
    font-size: 24px;
    margin-top: 0;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}

.leaderboard-table {
    width: 100%;
    margin-top: 20px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 0;
    border: 10px solid transparent;
    border-spacing: 0 10px;
    /* Ajout de l'espacement vertical entre les lignes */
}

.leaderboard-table th,
.leaderboard-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

.leaderboard-table th:first-child,
.leaderboard-table td:first-child {
    border-left: 1px solid #dddddd;
}

.leaderboard-table th:last-child,
.leaderboard-table td:last-child {
    border-right: 1px solid #dddddd;
}

.center-button {
    margin-top: 20px;
    text-align: center;
}

.result-button {
    background-color: #FF9FD8;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.result-button:hover {
    background-color: #2D85A4;
}