a,
a:visited,
a:hover,
a:active {
  color: inherit !important;
  text-decoration: none !important;
}

body {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 129, 203, 1),
    rgba(255, 203, 234, 1),
    rgba(255, 154, 213, 1)
  );
}

#nav_nav {
  padding: 15px 8rem;
}

.nav-link {
  font-weight: bold !important;
  color: #ffffff !important;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-brand {
  width: 100%;
}

body {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 129, 203, 1),
    rgba(255, 203, 234, 1),
    rgba(255, 154, 213, 1)
  );
  background-attachment: fixed;
  background-size: cover;
}

/** Style pour la page Contact */

#contact_main {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact_form {
  border: 2px solid black;
  border-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 300px;
  gap: 1rem;
}

#contact_header_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 74, 201);
  width: 100%;
  padding: 2rem 0;
  border-radius: 10px 10px 0 0;
  color: white;
  gap: 0.5rem;
  font-size: 1.3rem;
  text-shadow: -1.3px -1.3px 0 black, 1.3px -1.3px 0 black, -1.3px 1.3px 0 black,
    1.3px 1.3px 0 black;
  border: 2px solid black;
  border-bottom: 0;
}

#contact_h3_underline {
  background-color: black;
  width: 50px;
  height: 4px;
  border-radius: 20px;
}

.contact_inputs {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.4rem;
}

.contact_inputs input,
.contact_inputs textarea {
  width: 70%;
  margin: 1rem 0;
  resize: none;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid black;
}

.contact_inputs input:focus,
.contact_inputs textarea:focus {
  outline-color: rgb(255, 74, 201);
}

.contact_inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact_submit {
  background-color: rgb(255, 74, 201);
  border: none;
  border-radius: 20px;
  font-size: 1.4rem;
  color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  background-color: rgba(0, 0, 0, 0.533) !important;
}

.text_footer {
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.mention {
  text-decoration: underline;
}

.text-white-50 {
  color: white !important;
}


.show > .navbar-nav {
  position: absolute;
  right: 0;
  margin-right: 20px;
  margin-top: 5px;
  top: 4rem;
  background: #0000006e;
  text-align: right;
  padding: 5px 20px 5px 20px;
  border-radius: 0.5rem;
  border: 2px solid black;
  z-index: 10;
}

.navbar-toggler {
  position: absolute;
  right: 0;
  margin-right: 20px;
  margin-top: 7px;
}