/** Style pour la page Contact */

#contact_main {
  padding: 2rem;
  padding-bottom: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  background-color: rgba(0, 0, 0, 0.533) !important;
}

.text_footer {
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.mention {
  text-decoration: underline;
}

.text-white-50 {
  color: white !important;
}

#contact_message {
  border: none;
  width: 250px;
  resize: none;
}

#contact_message::placeholder {
  text-align: center;
}

/* ///////////////Test Mathieu//////////////// */

/* .input-container {
  display: flex;
  justify-content: center;
} */

.contact-form {
  border: 1px solid black;
  background: rgb(191, 46, 214);
  background: radial-gradient(
    circle,
    rgb(234, 100, 255) 0%,
    rgb(196, 86, 215) 60%,
    rgba(236, 102, 209, 1) 100%
  );
  padding: 20px;
  border-radius: 10px;
  width: 70%;
}

.contact-form label {
  color: white;
}

.contact-form .heading {
  font-size: 24px;
  color: white;
  margin-bottom: 12px;
  font-weight: bold;
  display: block;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 10px;
}

textarea {
  height: 120px;
  width: 100%;
  resize: none;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  box-shadow: 0 0 5px black;
  transform: scale(1.01);
  transition: transform 0.3s ease-in-out;
}

.contact-form button[type="submit"] {
  background-color: #c0c0c0;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.contact-form button[type="submit"]:hover {
  transform: scale(1.01);
  transition: transform 0.3s ease-in-out;
}

.contact-form button[type="submit"]:active {
  background-color: rgb(47, 255, 57);
}
