a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

#nav_nav {
  padding: 15px 8rem;
}

.nav-link {
  font-weight: bold;
  color: #ffffff !important;
}

.navbar-brand {
  font-weight: bold;
}

.img_logo_nav {
  min-width: 25px;
}

/* .navbar-brand {
  width: 100%;
} */

body {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 129, 203, 1),
    rgba(255, 203, 234, 1),
    rgba(255, 154, 213, 1)
  );
  background-attachment: fixed;
  background-size: cover;
}

#home-main {
  /* margin: 30% 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8rem;
}

#home-h1-bytemaster {
  font-size: 2rem;
  margin: 0;
  font-weight: bold;
}

#home-btn-jouer {
  min-width: 300px;
  width: 43%;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 40px;
  text-transform: uppercase;
  cursor: pointer;
  margin: 1rem 0 2% 0;
  border: 2px solid black;
  box-shadow: 4px 4px 5px black;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.5) 0%,
    rgb(255, 56, 172) 100%
  );
  transition: all 0.1s;
}

#home-btn-jouer:hover {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#home-logo-img {
  min-width: 250px;
  min-height: 130px;
  width: 30%;
  height: 60%;
}

#home-span-jouer {
  font-size: 4vh;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

#about-main {
  padding: 2rem;
}

.about-div-qr {
  margin-bottom: 1rem;
}

.about-question {
  background-color: #f0f0f0;
  padding: 1rem;
  cursor: pointer;
}

.about-answer {
  display: none;
  background-color: #ffffff;
  padding: 1rem;
  animation: fade-in 0.3s ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}